/*
Module Name: Guest (Tablet CSS)
Author: Migs
Date: 02-22-2024
*/

@media (min-width: 768px) and (max-width: 991px) {
/*--------------------------------------------------------------
HOME
--------------------------------------------------------------*/

.banner-section {
    margin-top: -135px !important;
    min-height: 70vh;
}

.navbar-nav li {
    margin-right: .65rem;
}

h1 {
    font-size: 40px;
    line-height: 60px;
}

h2 {
    font-size: 40px !important;
}

.faq-section .accordion-button, 
.view-more-btn-primary,
.view-more-btn-secondary{
    font-size: 30px;
}

.testimonials-section .carousel-item {
    padding: 0 5rem 2rem 5rem;
}

.footer-section .check-item button {
    min-width: 70px;
}

.banner-section-faqs,
.banner-section-testimonials {
    min-height: 60vh;
}


} /*END of @media 767px -991px*/


/*--------------------------------------------------------------
CUSTOM IPAD BREAKPOINTS
--------------------------------------------------------------*/
/*IPAD Portrait & Landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

} /*END of IPAD Portrait & Landscape*/

/*IPAD in Landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

} /*END of IPAD in Landscape*/


/*IPAD in Portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

} /*END of IPAD in Portrait*/
