@media only screen and (max-width: 768px) {
	.blog-section {
        margin-top: 0 !important;
        min-height: 0;
        padding-top: 100px;
    }

    .blog-content-container {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
}
